.catSelectors{
  display: grid;
  width: 80vw;
  height: 10vh;
  padding: .5rem .5rem 0 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto 5px auto;
  border: 2px solid white;
  border-radius: 1em;
  min-height: 175px;
  background: linear-gradient( rgba(255, 206, 44, 0.4), rgba(255, 206, 44, 0.4));
}

label {
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: .15em;
  font-size: .9rem;
}

input:hover {
  transform: scale(1.5);
  cursor:pointer;
}

h4 {
  padding: 10px;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}
